# ────────────────── Бекенд ──────────────────

APP_NAME=AUTH

DB_HOST=localhost
DB_PORT=6432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=english_bot

REDIS_URL=redis://localhost:6379/0

CELERY_RESULT_BACKEND=None
CELERY_BROKER_URL=None

JWT_SECRET_KEY=JWT_SECRET_KEY
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
ACCESS_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token
SESSION_COOKIE_HTTPONLY=False
SESSION_COOKIE_SECURE=False
SAMESITE=lax
COOKIE_PATH=/

FAKE_PASSWORD_HASH=FAKE_PASSWORD_HASH

MAX_SESSIONS_PER_USER=5

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google
BASE_URL=https://accounts.google.com/o/oauth2/v2/auth
TOKEN_URL=https://oauth2.googleapis.com/token

# ────────────────── Фронтенд ──────────────────

VITE_API_BASE_URL=http://localhost:8000
