APP_NAME=AUTH

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

REDIS_URL=redis://localhost:6379/0

CELERY_RESULT_BACKEND=None
CELERY_BROKER_URL=None

JWT_SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
ACCESS_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token
SESSION_COOKIE_HTTPONLY=False
SESSION_COOKIE_SECURE=False
SAMESITE=lax
PATH=/

FAKE_PASSWORD_HASH=$2b$12$Aq.oPk2C73/juT.sGIBzAOVJvNmIqqn/Uu4FjPBupzdxNMuLsRnxS

MAX_SESSIONS_PER_USER=5